<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
      <add key="StorageAccount" value="cbsagresearchaueast" />
      <add key="StorageKey" value="rwY1Q5r9owQWRFFPYYUWb4O78u6oNvpS3spGG5LTeetMa8Le3iq97sna2k/0Ag8PuZA9D1i2LwSUUcxefwd02Q==" />
      <add key="BatchUrl" value="https://cbsagresearch.australiaeast.batch.azure.com" />
      <add key="BatchAccount" value="cbsagresearch" />
      <add key="BatchKey" value="5I3zZabP+qh4U3KOUbW1osVyfVEky2e0R0yvJoErYFjzihGUiYC8TT863mAn/AaBPVu6apfFiX47/yYnxtZ5ow==" />

      <add key="PoolVMCount" value="6" />
      <add key="PoolVMSize" value="standard_d5_v2" />
      <add key="PoolMaxTasksPerVM" value="14" />
      <add key="PoolName" value="" />
      <add key="JobManagerShouldSubmitTasks" value="true" />
      <add key="ApsimCoresPerProcess" value="1" />
      <add key="DefaultApplicationPackage" value="apsim" />
      <add key="DefaultApplicationPackageVersion" value="7.8r3884" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>